body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  padding-top: 100px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#results{
    color: white;
}